---
import DefaultSocialIcons from '@astrojs/starlight/components/SocialIcons.astro';

const repoOwner = 'NSPC911';
const repoName = 'rovr';

let stars = 0;
let forks = 0;
let watchers = 0;
let release_tag = "";

try {
  const response = await fetch(`https://api.github.com/repos/${repoOwner}/${repoName}`);
  if (response.ok) {
    const repo = await response.json();
    stars = repo.stargazers_count;
    forks = repo.forks_count;
    watchers = repo.subscribers_count;
    const response = await fetch(`https://api.github.com/repos/${repoOwner}/${repoName}/releases`);
    if (response.ok) {
      const releases = await response.json()
      release_tag = releases[0].tag_name
    }
  }
} catch (error) {
  console.error('Failed to fetch GitHub stats:', error);
}
---

<div class="social-wrapper">
  <div class="github-stats">
    <a href={`https://github.com/${repoOwner}/${repoName}/network/members`} class="github-stat" title="Forks">
      <span>󰓼</span>
      <span>󰓹</span>
      <span>{release_tag || "v0.3.0"}</span>
    </a>

    <a href={`https://github.com/${repoOwner}/${repoName}/stargazers`} class="github-stat" title="Stars">
      <span></span>
      <span></span>
      <span>{stars || 46}</span>
    </a>

    <a href={`https://github.com/${repoOwner}/${repoName}/network/members`} class="github-stat" title="Forks">
      <span></span>
      <span></span>
      <span>{forks || 6}</span>
    </a>
  </div>

  <DefaultSocialIcons><slot /></DefaultSocialIcons>
</div>

<style>
  .social-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    > .sl-flex {
      color: var(--sl-color-text);
    }
  }

  .github-stats {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.8rem;
    border-radius: 9999px;
    background-color: var(--sl-color-bg-sidebar);
  }

  .github-stat {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--sl-color-text);
    text-decoration: none;
  }
</style>
